{% extends "base.html" %} {% load static %} {% block title %} Update Tier 3 Processor {% endblock title %} 

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}

{% block content %} {% include 'navbar.html' %}
<div class="main-content">
    {% include 'header.html' %} {% load crispy_forms_tags %}
  <main>
    <span class="farm headingtop">Update Tier 3 Processor</span>
    <div class="card farm-fields-container">
        <div class="container-fluid">
            <form method="post" class="farm-fields-form">
                {% csrf_token %}
                <div class="row">
                   
                    <div class="col-md-3">
                        <div>
                            <label for="fein">FEIN<span class="asteriskField">*</span></label>
                            <input value="{{processor_3.fein}}" type="text" name="fein" id="fein" class="textinput textInput form-control" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label for="entity_name">Entity Name<span class="asteriskField">*</span></label>
                            <input value="{{processor_3.entity_name}}" type="text" name="entity_name" id="entity_name" class="textinput textInput form-control" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label for="billing_address">Billing Address<span class="asteriskField">*</span></label>
                            <input value="{{processor_3.billing_address}}" type="text" name="billing_address" id="billing_address" autocomplete="off" class="textinput textInput form-control" required >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label for="shipping_address">Shipping Address<span class="asteriskField"></span></label>
                            <input value="{{processor_3.shipping_address}}" type="text" name="shipping_address" id="shipping_address" class="textinput textInput form-control" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label for="main_number">Main Number <span class="asteriskField">*</span></label>
                            <input value="{{processor_3.main_number}}" type="number" name="main_number" id="main_number" class="textinput textInput form-control"  autocomplete="off" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label for="main_fax">Main Fax <span class="asteriskField">*</span></label>
                            <input value="{{processor_3.main_fax}}" type="number" name="main_fax" id="main_fax" class="textinput textInput form-control"  autocomplete="off" required>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div>
                            <label for="website">Website</label>
                            <input value="{{processor_3.website}}" type="text" name="website" id="website" class="textinput textInput form-control" autocomplete="off" required>
                        </div>
                    </div>
                </div>
                

                <br>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label for="contact_name">Contact Name<span class="asteriskField">*</span></label>
                            <input value="{{processor3.contact_name}}" type="text" name="contact_name1" id="contact_name1" class="textinput textInput form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label for="contact_email">Contact Email<span class="asteriskField">*</span></label>
                            <input value="{{processor3.contact_email}}" type="email" name="contact_email1" id="contact_email1" class="textinput textInput form-control" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label for="contact_phone">Contact Phone</label>
                            <input value="{{processor3.contact_phone}}" type="number" name="contact_phone1" id="contact_phone1"  min="1000000000" max="9999999999" class="textinput textInput form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label for="ccontact_fax">Contact Fax</label>
                            <input value="{{processor3.contact_fax}}" type="number" name="contact_fax1" id="contact_fax1" class="textinput textInput form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-btn-row">
                    <a href="{% url 'list_processor3' %}" class="btn-close-cancel btn-space">Cancel</a>
                    <input type="submit" class="btn-save-submit" value="Save"> 
                </div>
            </div>
        </div>
            </form>
    
  </main>
  {% include 'footer.html' %}
</div>
{% endblock %}

{% block jquery %}
<script>
    $('#Processor3-Configuration-active').addClass('activeLink');
    $('#Processor3-Configuration-down').addClass('down');
    $('#Processor3-Configuration-sub').show();
    $('#Processor3-List').addClass('activeLink active-nav');
  </script>

{% endblock jquery %}    