{% extends "base.html" %} {% load static %}
{% block title %} Bale List Report {% endblock title %}


{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}

{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}
<style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>
<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Bale List Report</span>
            <!-- Create button for add-location-->
            <div class="flex-header-btn">
                <a href="{% url 'production_report_csv_list' %}" class="btn-close-cancel">Back</a>
            </div>
        </div>
        <div class="card card-padding">
            <div class="main-simple-table-with-search">                
                <div class="both-data-in" style="display: inherit;">
                    <div class="simple-responsive-table">
                        <table id="processorList_tbl" class="table table-striped dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr style="border-bottom: 2px solid #e0e0e0;">
                                    <th width="10%">Gin Date</th>
                                    <th width="10%">Load ID</th>
                                    <th width="10%">Bale Id</th>
                                    <th width="10%">Net Wt</th>
                                    <!-- <th width="10%">Total</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in report %}
                                <tr>
                                    <td>{{i.gin_date}}</td>
                                    <td>{{i.load_id}}</td>
                                    <td>{{i.bale_id}}</td>
                                    <td>{{i.net_wt}}</td>
                                    <!-- <td></td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th width="10%">Gin Date</th>
                                    <th width="10%">Load ID</th>
                                    <th width="10%">Bale Id</th>
                                    <th width="10%">Net Wt</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
    </main>
    {% include 'footer.html' %}
</div>

<!-- Delete Popup -->
<div class="modal fade" id="deleteModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-body">
          <button type="button" class="btn-close cust-close-ds-btn" data-mdb-dismiss="modal" aria-label="Close"></button>
          <div class="center-content-status">
            <img src="{% static 'img/trash.png' %}" alt="right" id="rightImg" class="warning-icon">
            <p id="message" class="modal-title titlepad">Are you sure you want to delete?</p>
          </div>
          <div class="modal-center-btn-footer">
            <button onclick="reloadwindow()" id="closeBtnpopup" type="button" class="btn-close-cancel btn-space"
              data-mdb-dismiss="modal">
              Close
            </button>
            <!-- <button type="submit" class="btn-save-submit">Delete</button> -->
            
            <a onclick="storagedeleteNow()" href="" id="storageDelete" ><button type=""
                class="btn-save-submit">Delete</button></a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- end -->
{% endblock content %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>

<script src="{% static 'js/farm/farm_list.js' %}"></script>

<script>
    // $(document).ready(function () {
    //     $('#processorList_tbl').DataTable({
    // "pageLength": 50
    // });
    // });
    $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#processorList_tbl tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" placeholder="Search ' + title + '" />');
    });
 
    // DataTable
    var table = $('#processorList_tbl').DataTable({
        "pageLength": 100,
        initComplete: function () {
            // Apply the search
            this.api()
                .columns()
                .every(function () {
                    var that = this;
 
                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
        },
    });
});
</script>
<script>
    $('#Processor-active').addClass('activeLink');
  
    $('#Processor-down').addClass('down');
    $('#Processor-sub').show();
  
    $('#Production-Report').addClass('activeLink active-nav');
  
  </script>
{% endblock scripts %}