{% extends "base.html" %} {% load static %} {% block title %} Send Shipment {% endblock title %} {% block content %} {% include 'navbar.html' %}
<div class="main-content">
    {% include 'header.html' %} {% load crispy_forms_tags %}
  <main>
    <span class="farm headingtop">Send Shipment</span>
    <div class="card farm-fields-container">
        <div class="container-fluid">
            <!-- =====  For Grower shpment add ======= -->
            {% if 'Grower' in request.user.get_role and not request.user.is_superuser %}
            {% if processor == None %}
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <h5>You cant send a shipment, as you are still not assigned to any processor.<br><br>
                    Please contact administrator to assign yourself to a processor.</h5>
                </div>
            </div>
            {% else %}
            <form method="post" class="farm-fields-form">
                {% csrf_token %}
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-4">
                        <label for="id_processor">Processor</label>
                        <input id="id_processor" class="textinput textInput form-control" type="text" readonly value="{{processor}}">
                    </div>
                    <div class="col-md-4">
                        <label for="id_storage">Storage</label>
                        <select id="id_storage" name="id_storage" class="textinput textInput form-control" style="width: 100%;padding-left:10px ;">
                            
                            {% for storage in storage %}
                            <option value="{{ storage.pk }}">{{storage.storage_name}} - {{ storage.pk }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="module_number">Module Tag Number<span class="asteriskField">*</span></label>
                        <input id="module_number" name="module_number" class="textinput textInput form-control" type="text" required >
                    </div>
                    
                </div>
                <div class="row" style="margin-bottom:10px">                    
                    <div class="col-md-4">
                        <label for="id_field">Field Origin</label>
                        <select id="id_field" name="id_field" class="textinput textInput form-control" style="width: 100%;padding-left:10px ;" required >
                            {% for field in field %}
                            <option selected value="{{field.id}}">{{field.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="id_amount"># of Rolls<span class="asteriskField">*</span></label>
                        <input type="number" name="amount" class="textinput textInput form-control" id="id_amount" required>
                    </div>
                    <div class="col-md-4">
                        <label for="id_unit">Roll Type<span class="asteriskField">*</span></label>
                        <select id="id_unit" name="id_unit" class="textinput textInput form-control" style="width: 100%;padding-left:10px ;" required>
                            <option value="LBS">LBS</option>
                            <option value="TON">TON</option>
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-btn-row">
                        <a href="{% url 'grower_shipment_list' %}" class="btn-close-cancel btn-space">Cancel</a>
                        <input type="submit" class="btn-save-submit" value="Save"> 
                    </div>
                </div>
            </form>
            {% endif %}
            {% endif %}
            {% if request.user.is_consultant %}
            <!-- =====  For Consultant shpment add ======= -->
            <form method="post" class="farm-fields-form">
                {% csrf_token %}
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-4">
                        <label for="id_g">Select Grower<span class="asteriskField">*</span></label>
                        <select id="id_g" name="id_g" class="textinput textInput form-control" style="width: 100%;padding-left:10px ;" required >
                            <!-- {% for linked_grower in linked_grower%}
                            <option selected value="{{linked_grower.id}}">{{linked_grower.name}}</option>
                            {% endfor %} -->
                            <option value='all' >Select Grower</option>
                            {% for linked_grower in linked_grower %}
                                {% if linked_grower == selected_grower %}
                                <option value="{{ linked_grower.pk }}" selected>{{linked_grower.name}} - {{linked_grower.pk }}</option>
                                {% else %}
                                <option value="{{ linked_grower.pk }}">{{linked_grower.name}} - {{linked_grower.pk }}</option>                                
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="id_sto">Select Storage</label>
                        <select id="id_sto" name="id_sto" class="textinput textInput form-control" style="width: 100%;padding-left:10px ;">
                            {% for storage_obj in storage_obj %}
                            <option selected value="{{storage_obj.id}}">{{storage_obj.storage_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label for="id_storage">Field<span class="asteriskField">*</span></label>
                        <select id="id_storage" name="id_field" class="textinput textInput form-control"
                            style="width: 100%;padding-left:10px ;">
                            {% for field in field %}
                            <option value="{{ field.pk }}">{{field.name}} - {{field.pk }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label for="module_number">Module Tag Number<span class="asteriskField">*</span></label>
                        <input id="module_number" name="module_number" class="textinput textInput form-control" type="text">
                    </div>
                    <div class="col-md-4 mb-2">
                        <label for="id_amount"># of Rolls<span class="asteriskField">*</span></label>
                        <input type="text" name="amount" class="textinput textInput form-control" id="id_amount" >
                    </div>
                    <div class="col-md-4 mb-2">
                        <label for="id_unit">Roll Type<span class="asteriskField">*</span></label>
                        <select id="id_unit" name="id_unit" class="textinput textInput form-control" style="width: 100%;padding-left:10px ;" >
                            <option value="LBS">LBS</option>
                            <option value="TON">TON</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-btn-row">
                        <a href="{% url 'grower_shipment_list' %}" class="btn-close-cancel btn-space">Cancel</a>
                        <input style="display: none;" id="hide_btn1" type="submit" class="btn-save-submit" value="Save">
                        <input type="submit" class="btn-save-submit" value="Save">
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
            
    
  </main>
  {% include 'footer.html' %}
</div>
{% endblock %}

{% block jquery %}
<script>
    $('#id_g').on('change', function (e) {
        var value = $(this).val();
        console.log(value)
        $('#hide_btn1').click()
    })
    </script>
{% endblock jquery %}
