<!DOCTYPE html>
<html>
<head>
    <title>Google Maps Directions</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
    <style>
        .img_wrapper {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }
        .loader {
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    {% for route in outbound2_Wip %}
        <div class="img_wrapper">
            <div id="map{{ forloop.counter }}" class="loader"></div>
        </div>
    {% endfor %}
    
    <script>
        function initMap() {
            const routes = {{ outbound2_Wip|safe }};

            routes.forEach((route, index) => {
                const mapElementId = 'map' + (index + 1);
                const map = new google.maps.Map(document.getElementById(mapElementId), {
                    zoom: 7,
                    center: route.origin
                });

                const directionsService = new google.maps.DirectionsService();
                const directionsRenderer = new google.maps.DirectionsRenderer();
                directionsRenderer.setMap(map);

                const request = {
                    origin: route.origin,
                    destination: route.destination,
                    travelMode: 'DRIVING'
                };

                directionsService.route(request, function(result, status) {
                    if (status === 'OK') {
                        directionsRenderer.setDirections(result);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            });
        }
    </script>
</body>
</html>
